{{ form_start(form) }}
<div class="form-group">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                {{ form_row(form.username) }}
                {{ form_row(form.matricule) }}

                {{ form_row(form.email) }}

            </div>
            <div class="col-6">
                {{ form_row(form.cin) }}
                {% if not is_granted('ROLE_SUPERADMIN') %}
                    {{ form_row(form.password) }}
                {% endif %}
                {{ form_row(form.profil) }}
               <div class="row">
                   <div class="col-5">
                       <label class="form-control-label"
                              for="example3cols1Input">Vous avez des enfants ?</label>
                       <div class="row">
                           <div class="col">
                               <div class="custom-control custom-radio mb-3">
                                   <input checked name="childnumber" class="custom-control-input" value="0"
                                          id="customRadio9"
                                          type="radio">
                                   <label class="custom-control-label"
                                          for="customRadio9">{{ 'no'|trans }}</label>
                               </div>
                           </div>
                           <div class="col">
                               <div class="custom-control custom-radio mb-3">
                                   <input name="childnumber" class="custom-control-input" value="1"
                                          id="customRadio10"
                                          type="radio">
                                   <label class="custom-control-label"
                                          for="customRadio10">{{ 'yes'|trans }}</label>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col">
                       {{ form_row(form.childNumber) }}
                   </div>
               </div>
            </div>

            </div>
            {% if app.user.Profil %}
                <img width="300" height="300" alt="Image placeholder"
                     src="{{ asset('/uploads/' ~ app.user.Profil) }}">
            {% else %}
                <div class="kl-preview d-none">
                    <img width="300" height="300" id="id-preview" src="#" alt="profil"/>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="form-group">
    <div class="card-body">
        <button class="btn btn-primary">{{ action_type == 'edit' ?  'update'|trans : 'save'|trans }}</button>
    </div>
</div>
{{ form_end(form) }}
