{{ form_start(form) }}
<div class="form-group">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                {{ form_row(form.num_or) }}<br>
                {{ form_row(form.indice) }}<br>
                {{ form_row(form.dateOr) }}<br>

            </div>
            <div class="col-6">
                {{ form_row(form.dateDebutMission,{'attr':{'type':'date'}}) }}<br>
                {{ form_row(form.dateFinMission) }}<br>
                {{ form_row(form.objet_mission) }}<br>
                {{ form_row(form.scan_or) }}<br>
            </div>
        </div>
        <input name="duree_mission" type="hidden" id="duree_mission" value="{{ edit_or ?? ordre_route.dureeMission }}"/>
        <input name="decompte_or" type="hidden" id="decompte_or" value="{{ edit_or ?? ordre_route.decompteOr }}"/>
        <input name="montant_n" type="hidden" id="montant_n" value="{{ edit_or ?? ordre_route.montantN }}"/>
        <input name="montant_p" type="hidden" id="montant_p" value="{{ edit_or ?? ordre_route.montantP }}"/>
        <br><br>
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>
{{ form_end(form) }}
