{{ form_start(form) }}
<div class="form-group">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                {{ form_row(form.num_or) }}<br>
                {{ form_row(form.objet_mission) }}
            </div>
            <div class="col-6">
                <label for="date_start_end">Date de début et fin</label>
                <input id="date_start_end" class="form-control" placeholder="Date de début et fin" type="text" name="daterange" value=""/>
                <br>
{#                {{ form_row(form.scan_or) }}#}
            </div>
        </div>
        <input name="date_debut" type="hidden" id="date-debut"/>
        <input name="date_fin" type="hidden" id="date-fin"/>
        <input name="duree_mission" type="hidden" id="duree_mission"/>
        <input name="decompte_or" type="hidden" id="decompte_or"/>
        <br><br>
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>
{{ form_end(form) }}
