{% extends 'base.html.twig' %}

{% block title %}OrdreRoute{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' with
        {
            bc_title : 'Enregistrement ordre de route'|trans,
        } %}
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div class="table-responsive py-4 ">
                            <table class="table table-bordered">
                                {% set duree = ordre_route.dureeMission|split('et') %}
                                <tr>
                                    <th>Numéro OR</th>
                                    <th>Date OR</th>
                                    <th>Objet mission</th>
                                    <th>Début mission</th>
                                    <th>Fin mission</th>
                                    <th>Durée mission</th>
                                    <th>Décompte OR</th>
                                    <th>Montant OR</th>
                                </tr>
                                <tr>
                                    <td>{{ ordre_route.numOr }}</td>
                                    <td>{{ ordre_route.dateOr|date("d/m/Y") }}</td>
                                    <td>{{ ordre_route.objetMission }}</td>
                                    <td>{{ ordre_route.dateDebutMission|date("d/m/Y à H:i ") }}</td>
                                    <td>{{ ordre_route.dateDebutMission|date("d/m/Y à H:i ") }}</td>
                                    <td>{{ ordre_route.dureeMission }}</td>
                                    <td>
                                        {% for key,d in duree %}
                                            <span>
                                                {{ ordre_route.decompteOr == 0 ? '': d }}
                                                {% if 'N' in d %}
                                                    {% if ordre_route.decompteOr != 0 %}
                                                        {% if d != " " %}
                                                            {% if ordre_route.indice < 800 %}
                                                                {{ 'x 30 000 = '~ ordre_route.montantN|number_format(0,'',' ') }}
                                                            {% else %}
                                                                {{ 'x 36 000 = '~ ordre_route.montantN|number_format(0,'',' ') }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% else %}
                                                    {% if ordre_route.decompteOr != 0 %}
                                                        {% if d != " " %}
                                                            {% if ordre_route.indice < 800 %}
                                                                {{ 'x 10 000 = '~ ordre_route.montantP|number_format(0,'',' ') }}
                                                            {% else %}
                                                                {{ 'x 12 000 = '~ ordre_route.montantP|number_format(0,'',' ') }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <br>
                                        {% endfor %}
                                    </td>
                                    <td>{{ ordre_route.decompteOr|number_format(0,'',' ') }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
