<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header d-flex align-items-center">
            <a class="navbar-brand" href="{{ path('admin_dashboard') }}">
                <h4 style="font-family: 'comic sans ms'">Gestion personnel</h4>
                {#                <img src="{{ asset('img/logo.PNG') }}" class="navbar-brand-img" alt="...">#}
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if dashboard_link is defined %} active {% endif %}"
                           href="{{ path('admin_dashboard') }}">
                            <i class="ni ni-shop"></i>
                            <span class="nav-link-text">{{ 'dashboard'|trans }}</span>
                        </a>
                    </li>
                    {% if not is_granted('ROLE_SUPERADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link {% if user_link is defined %} active {% endif %} "
                               href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="false"
                               aria-controls="navbar-dashboards">
                                <i class="ni ni-settings-gear-65"></i>
                                <span class="nav-link-text">Mes informations</span>
                            </a>
                            <div class="collapse {% if info_link is defined or diplome_link is defined %} show {% endif %} "
                                 id="navbar-dashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% if info_link is defined %} active {% endif %}"
                                           href="{{ path('admin_user_show',{'id': app.user.id}) }}">
                                            <i class="ni ni-circle-08"></i>
                                            <span class="nav-link-text">Information personnel</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% if diplome_link is defined %} active {% endif %}"
                                           href="{{ path('diplome_index') }}">
                                            <i class="ni ni-books"></i>
                                            <span class="nav-link-text">Mes diplômes</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if conge_link is defined %} active {% endif %}"
                               href="{{ path('demande_conge_new') }}">
                                <i class="ni ni-user-run"></i>
                                <span class="nav-link-text">demander un congé</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if fs_link is defined %} active {% endif %}"
                               href="{{ path('facture_soin_index') }}">
                                <i class="ni ni-ambulance"></i>
                                <span class="nav-link-text">Facture des soins</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if attribution_link is defined %} active {% endif %}"
                               href="{{ path('attribution_index') }}">
                                <i class="ni ni-watch-time"></i>
                                <span class="nav-link-text">Mes tâches</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if user_link is defined %} active {% endif %} "
                               href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="false"
                               aria-controls="navbar-dashboards">
                                <i class="ni ni-settings-gear-65"></i>
                                <span class="nav-link-text">Employés</span>
                            </a>
                            <div class="collapse {% if diplome_link is defined or
                                user_link is defined or
                                document_recrutement_link is defined
                            %} show {% endif %} "
                                 id="navbar-dashboards">
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% if user_link is defined %} active {% endif %}"
                                           href="{{ path('user_index') }}">
                                            <i class="ni ni-circle-08"></i>
                                            <span class="nav-link-text">Liste</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% if document_recrutement_link is defined %} active {% endif %}"
                                           href="{{ path('document_recrutement_index') }}">
                                            <i class="ni ni-books"></i>
                                            <span class="nav-link-text">Document de recrutement</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% if diplome_link is defined %} active {% endif %}"
                                           href="{{ path('diplome_index') }}">
                                            <i class="ni ni-hat-3"></i>
                                            <span class="nav-link-text">Diplôme</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul class="nav nav-sm flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link {% if diplome_link is defined %} active {% endif %}"
                                           href="{{ path('cv_simplifie') }}">
                                            <i class="ni ni-box-2"></i>
                                            <span class="nav-link-text">CV simplifié</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if attribution_link is defined %} active {% endif %}"
                               href="{{ path('attribution_index') }}">
                                <i class="ni ni-watch-time"></i>
                                <span class="nav-link-text">Attribution</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if conge_link is defined %} active {% endif %}"
                               href="{{ path('demande_conge_index') }}">
                                <i class="ni ni-user-run"></i>
                                <span class="nav-link-text">Demandes de congé</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if p_link is defined %} active {% endif %}"
                               href="{{ path('user_index') }}">
                                <i class="ni ni-chat-round"></i>
                                <span class="nav-link-text">État de pointage</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if fs_link is defined %} active {% endif %}"
                               href="{{ path('facture_soin_index') }}">
                                <i class="ni ni-ambulance"></i>
                                <span class="nav-link-text">État de decompte de la facture de soins</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if or_link is defined %} active {% endif %}"
                               href="{{ path('user_index') }}">
                                <i class="ni ni-delivery-fast"></i>
                                <span class="nav-link-text">État de décompte des ordres de route </span>
                            </a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>