<!-- Topnav -->
<nav class="navbar navbar-top navbar-expand navbar-dark fixed-top bg-primary border-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar links -->

            <ul class="navbar-nav align-items-center ml-md-auto">
                <li class="nav-item d-xl-none">
                    <!-- Sidenav toggler -->
                    <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin"
                         data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </li>
                <a class="btn btn-dark" href="{{ path('pointage-click') }}">Pointage</a>
                <br>
                <li class="nav-item d-sm-none">
                    <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                        <i class="ni ni-zoom-split-in"></i>
                    </a>
                </li>
            </ul>
            <div style="color: white;font-weight: bold" id="timer" class="clock" onload="showTime()"></div>
            <ul class="navbar-nav align-items-center ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="media align-items-center">
                                  <span class="avatar avatar-sm rounded-circle">
                                      {% if app.user.Profil %}
                                          <img alt="Image placeholder"
                                               src="{{ asset('/uploads/' ~ app.user.Profil) }}">
                                    {% else %}
                                          <img alt="Image placeholder"
                                               src="{{ asset('img/default_picture_profil.png') }}">
                                      {% endif %}

                                  </span>
                            <div class="media-body ml-2 d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold">{{ app.user and app.user.username ? app.user.username : app.user.email }}</span>
                            </div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header noti-title">
                            <h6 class="text-overflow m-0">{{ 'welcome'|trans }}</h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a onclick="return confirm('Vous voulez vraiment se deconnecter ? ')" href="{{ path('app_logout') }}" class="dropdown-item">
                            <i class="ni ni-user-run"></i>
                            <span>{{ 'logout'|trans }}</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
    function showTime(){
        var date = new Date();
        var h = date.getHours(); // 0 - 23
        var m = date.getMinutes(); // 0 - 59
        var s = date.getSeconds(); // 0 - 59
        var session = "AM";

        if(h == 0){
            h = 12;
        }

        if(h > 12){
            h = h - 12;
            session = "PM";
        }

        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        var time = h + ":" + m + ":" + s + " " + session;
        document.getElementById("timer").innerText = time;
        document.getElementById("timer").textContent = time;

        setTimeout(showTime, 1000);
    }

    showTime();
</script>