{% extends 'base.html.twig' %}

{% block title %}Attribution{% endblock %}

{% block body %}
    <h1>Attribution</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attribution.id }}</td>
            </tr>
            <tr>
                <th>Nom_tache</th>
                <td>{{ attribution.nomTache }}</td>
            </tr>
            <tr>
                <th>Numero_tache</th>
                <td>{{ attribution.numeroTache }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ attribution.dateDebut ? attribution.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ attribution.dateFin ? attribution.dateFin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ attribution.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('attribution_index') }}">back to list</a>

    <a href="{{ path('attribution_edit', {'id': attribution.id}) }}">edit</a>

    {{ include('attribution/_delete_form.html.twig') }}
{% endblock %}
