{% extends 'base.html.twig' %}

{% block title %}Pointage index{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' with
        {
            bc_title : 'Pointage'|trans
        } %}
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <a href="#" id="ptg-btn" type="button"><img style="width: 25% ;border-radius: 50%;"
                                                       src="{{ asset('img/pointage.png') }}"
                                                       alt=""></a>
                        <div class="table-responsive py-4">
                            <br>
                            <table class="table table-bordered" id="id-pointage-list">
                                <thead>
                                <tr style="background-color: yellow;font-weight: bold">
                                    <th>Employé</th>
                                    <th>Date</th>
                                    <th>Heure arrivée matinée</th>
                                    <th>Heure sortie matinée</th>
                                    <th>Heure arrivée après-midi</th>
                                    <th>Heure sortie après-midi</th>
                                </tr>
                                </thead>
                                <thead>
                                <tr style="background-color: yellow;font-weight: bold">
                                    <th></th>
                                    <th></th>
                                    <th><input id="ptg-ham" type="text" class="form-control" readonly></th>
                                    <th><input id="ptg-hsm" type="text" class="form-control" readonly></th>
                                    <th><input id="ptg-haa" type="text" class="form-control" readonly></th>
                                    <th><input id="ptg-hsa" type="text" class="form-control" readonly></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var url_pointage_ajax_list = "{{ path('url_pointage_ajax_list') }}";
        var url_pointage = "{{ path('url_pointage') }}";
        var id_current_user = "{{ app.user.id }}";
        var has_hsa = "{{ has_hsa }}";
    </script>
    <script src="{{ asset('js/pointage.js') }}"></script>
    <script src="{{ asset('js/edit.pointage.js') }}"></script>
{% endblock %}