{% extends 'base.html.twig' %}

{% block title %}{{ 'document.recrutement'|trans }}{% endblock %}

{% set document_recrutement_link = true %}

{% block body %}
    {% include 'partials/header.html.twig' with
        {
            bc_title : 'document.recrutement'|trans,
            path_link : path('document_recrutement_new') ,
            title_link : 'create'|trans ,
        } %}
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header border-0">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                                <span class="alert-text"> {{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                        <div class="table-responsive py-4">
                            <table class="table table-flush" id="id-dm-list">
                                <thead class="thead-light">
                                <tr>
                                    <th>Nom</th>
                                    <th>Numéro</th>
                                    <th>Type</th>
                                    <th>Date</th>
                                    <th>Corps</th>
                                    <th>Indice</th>
                                    <th>Catégorie</th>
                                    <th>Grade</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var url_admin_dm_ajax_list = "{{ path('admin_document_recrutement_ajax_list') }}";
        var edit_path = "{{ path('document_recrutement_edit',{'id': 0}) }}";
        var show_path = "{{ path('document_recrutement_show',{'id': 0}) }}";
    </script>
    <script src="{{ asset('js/document.recrutement.js') }}"></script>
{% endblock %}