{% extends "admin/base.html.twig" %}

{% block body %}
    {% include 'admin/partials/header.html.twig' with
        {
            bc_title : 'document.recrutement'|trans,
            path_link : path('document_recrutement_index') ,
            title_link : 'return'|trans ,
        } %}
    <!-- Page content -->
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ document_recrutement.user.username }}</td>
                                </tr>
                                <tr>
                                    <th>Matricule</th>
                                    <td>{{ document_recrutement.user.matricule }}</td>
                                </tr>
                                <tr>
                                    <th>Numéro CIN</th>
                                    <td>{{ document_recrutement.user.cin }}</td>
                                </tr>
                                <tr>
                                    <th>Rôle</th>
                                    <td>{{ document_recrutement.user.roles['1'] }}</td>
                                </tr>
                                <tr>
                                    <th>Date prise du service</th>
                                    <td>{{ document_recrutement.user.dateStartService|date|format('%d/%m/%Y') }}</td>
                                </tr>
                                <tr>
                                    <th>Nombre d'enfant</th>
                                    <td>{{ document_recrutement.user.childNumber }}</td>
                                </tr>
                                <tr>
                                    <th>Grade</th>
                                    <td>{{ document_recrutement.grade }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Numero de document</th>
                                    <td>{{ document_recrutement.numDoc }}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{ document_recrutement.typeDoc }}</td>
                                </tr>
                                <tr>
                                    <th>Date du document</th>
                                    <td>{{ document_recrutement.dateDoc }}</td>
                                </tr>
                                <tr>
                                    <th>Corps</th>
                                    <td>{{ document_recrutement.corps }}</td>
                                </tr>
                                <tr>
                                    <th>Indice</th>
                                    <td>{{ document_recrutement.indice }}</td>
                                </tr>
                                <tr>
                                    <th>Catégorie</th>
                                    <td>{{ document_recrutement.categorie }}</td>
                                </tr>
                                <tr>
                                    <th>Grade</th>
                                    <td>{{ document_recrutement.grade }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
