{% extends "base.html.twig" %}

{% set conge_link = true %}

{% block body %}
    {% include 'partials/header.html.twig' with
        {
            bc_title : 'Demander de congé',
        } %}
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <span class="card-header border-0">
                        Solde restant : <span class="solde-restant"> {{ app.user.congeInitial }} </span> Jours
                        <hr>
                        <br>
                        <form><input type="hidden" id="user_id" value="{{ app.user.id }}">
                            <div class="pl-lg-4">
                                <div class="input-daterange datepicker row align-items-center">
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                                class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input required class="form-control" id="date-debut"
                                                       placeholder="Date de début"
                                                       type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <div class="input-group input-group-alternative">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                                class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input required class="form-control" id="date-fin"
                                                       placeholder="Date de fin"
                                                       type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Type de
                                                congé</label>
                                            <select name="" class="select-2 form-control" id="conge-type">
                                                <option value="Annuelle">Annuelle</option>
                                                <option value="Education">Education</option>
                                                <option value="Maladie">Maladie</option>
                                                <option value="Maternité">Maternité</option>
                                                <option value="Paternité">Paternité</option>
                                           </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Nom de
                                                l'interim</label>
                                            <input type="text" id="nom-interim" class="form-control"
                                                   placeholder="Nom de l'interim"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="form-control-label">Motif</label>
                                            <textarea id="motif" rows="6" class="form-control"
                                                      placeholder="Votre motifs ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Lieu jouissance</label>
                                            <input type="text" id="lieu-jouissance" class="form-control"
                                                   placeholder="Lieu jouissance">
                                        </div>
                                    </div>
                                </div>
                </div>
                <div class="pl-lg-4">
                    <button type="button" class="btn btn-success send-conge"> <div
                                class="fa fa-spinner fa-spin conge-loading d-none">
                        </div> <span class="loading-text">Envoyer votre demande</span>
                    </button>
                </div>
                </form>
                <div class="modal message-validation" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text text-info">Veuillez verifier votre champs , s'il vous plait
                                    ! </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal message-success" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text text-success">Demande envoyé avec succés !</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal message-erreur" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text text-danger">Solde de congé insuffisant !</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal message-has-validation-inprogress" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text text-info">Vous avez déjà une congé en <span
                                            class="badge badge-info">attente de validation</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.basic-data-select2').select2({
            placeholder: '{{ 'select'|trans }}',
            ajax: {
                url: "{{ path('admin_user_ajax_select2') }}",
                data: function (params) {
                    var query = {
                        search: params.term,
                        type: 'public',
                    };

                    return query;
                },
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: $.map(data, function (obj) {
                            return {id: obj.id, text: obj.username};
                        })
                    };
                },
                minimumInputLength: 3,
            }
        })

        var url_demande_conge_ajax = "{{ path('ajax_demande_conge') }}";
        var last_id = "{{ last_id }}";

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ asset('js/general.js') }}"></script>
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/edit.conge.js') }}"></script>
{% endblock %}

