{% extends "base.html.twig" %}

{% set attribution_link = true %}

{% block body %}
    {% include 'partials/header.html.twig' with
        {
            bc_title : 'Modification tâche',
        } %}
    <!-- Page content -->
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        {{ include('attribution/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/general.js') }}"></script>
    <script src="{{ asset('js/edit.attribution.js') }}"></script>
    <script src="{{ asset('js/attribution.js') }}"></script>
{% endblock %}
